@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
    --bg: #1a1a1a;
    --bg-lighter: #232323;
    --bg-light: #373737;
    --blue: #59d3e0;
    --green: #69c982;
    --blue-darker: #275d63;
    --yellow: #f9cb40;
    --yellow-darker: #816824;
    --red: #cd533b;
    --pink: #cc978e;
}


body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--bg);
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}
header > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
header a{
    color: white;
    background-color: var(--bg-light);
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.5rem 1rem;
    font-weight: 700;
}
h1{
    font-family: 'Fira Code', monospace;
    color: var(--blue);
}
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
#hero p{
    font-size: 2rem;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    color: white;
    backdrop-filter: blur(1em);
    padding: 1rem;
    border-radius: 0.5rem 2rem;
    text-align: center;
    width: 30%;
}
#art {
    text-decoration: underline dotted var(--yellow);
    text-decoration-thickness: 0.3rem;
    color: var(--yellow);
}
#code {
    text-decoration: underline dotted var(--blue);
    text-decoration-thickness: 0.3rem;
    color: var(--blue);
}
#future {
    text-decoration: underline dotted var(--green);
    text-decoration-thickness: 0.3rem;
    color: var(--green);
}
.highlight-word {
    text-decoration: underline solid var(--blue);
    font-style: italic;
}
a {
    color: var(--blue);
    font-weight: 700;
}
.section {
    background-color: var(--bg-lighter);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}
.card {
    display: flex;
    background-color: var(--bg);
    width: 20%;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
}
.card img {
    width: 100%;
}






@media (max-width: 650px) {
    #hero{
        background-position: left center;
        background-position-x: 3%;
    }
    #hero p{
        width: 60%;
    }
    .card {
        width: 80%;
    }
}