@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --yellow: #f0b10a;
    --gold: #e5cb84;
    --yellow_dark: #574102;
    --blue: #1e1e79;
    --light_blue: #4f4fcb;
    --white: #ffffff;
    --button_top: rgba(0,0,0,0.9);
    --button_bottom: rgba(0,0,0,0.2);
    --button_middle: rgba(0,0,0,0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}
button {
    background-position: center;
    display: block; 
    position: fixed;
    bottom: 20px;
    right: 50px; 
    z-index: 99; 
    border: 4px solid var(--gold);
    outline: none; 
    background-color: var(--yellow_dark);
    color: white; 
    padding: 15px; 
    border-radius: 10px;
    transition: 0.2s;
}
button img {
    width: 100%;
}
button:hover {
    background-color: var(--blue);
    border-color: var(--light_blue);
    box-shadow: 0 0 20px 0px black;
}
.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
    display: inline;
}
.header {
    z-index: 100;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--button_top), var(--button_bottom)), url(images/earth1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 300px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
}
.nav-links ul li:hover > a {
    color: var(--yellow_dark);
    transition: 0.5s;
}
.nav-links ul li:hover {
    background-color: var(--gold);
    border-radius: 10px;
    transition: 0.5s;
}
.text-box {
    width: 90%;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 48px;
    color: var(--gold);
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: var(--white);
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--button);
    border: 3px solid var(--blue);
    border-radius: 10px;
    padding: 12px 34px;
    font-weight: 500;
    position: relative;
}
.hero-btn:hover {
    border: 3px solid var(--light_blue);
    background-color: var(--blue);
    transition: 0.2s;
}
nav .fa {
    display: none;
}
.skills {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: var(--gold);
}
.skills h1 {
    font-weight: 700;
}
.skills p {
    font-weight: 300;
    padding: 10px;
}
.skills a {
    text-decoration: none;
    background-color: var(--yellow_dark);
    color: var(--gold);
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}
.skills a:hover {
    background-color: var(--blue);
    color: var(--gold);
}
.row {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}
.skills-col {
    flex-basis: 10%;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.2s;
}
.skills-col img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px black;
}
.skills h3 {
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
}
.highlights {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}
.highlights a {
    text-decoration: none;
    background-color: var(--gold);
    color: var(--yellow_dark);
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}
.highlights a:hover {
    background-color: var(--yellow_dark);
    color: var(--gold);
}
.highlights-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.highlights-col img {
    width: 100%;
    border-radius: 10px;
}
.highlights p {
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.layer {
    background-color: transparent;
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
    border-radius: 10px;
}
.layer p {
    width: 80%;
    color: var(--white);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}
.highlights-col:hover > .layer {
    background-color: rgba(0,0,0, 0.75);
}
.highlights-col:hover p {
    top: 50%;
    opacity: 1;
}
.facilities {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facilities, h1, p {
    text-align: center;
    padding: 10px;
}
.facilities, p {
    text-align: center;
    padding: 10px;
    line-height: 25px;
}
.facilities a {
    text-decoration: none;
    background-color: var(--gold);
    color: var(--yellow_dark);
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}
.facilities a:hover {
    background-color: var(--yellow_dark);
    color: var(--gold);
}
.facilities-col {
    flex-basis: 22%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img {
    width: 100%;
    border-radius: 10px;
}
.facilities-col p {
    padding: 0;
    text-align: left;
}
.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15 px;
    text-align: left;
}
.education {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.education, h1, p {
    text-align: center;
    padding: 10px;
}
.education a {
    text-decoration: none;
    background-color: var(--gold);
    color: var(--yellow_dark);
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}
.education a:hover {
    background-color: var(--yellow_dark);
    color: var(--gold);
}
.education-col {
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.education-col img {
    width: 100%;
    box-shadow: 0 0 20px black;
}
.education-col h3 {
    margin-top: 16px;
    margin-bottom: 15 px;
    text-align: center;
}
.education-col1 {
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.education-col1 img {
    left: 20%;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 20px black;
}
.education-col1 h3 {
    margin-top: 16px;
    margin-bottom: 15 px;
    text-align: center;
}
.footer {
    background-image: linear-gradient(var(--button_bottom), var(--button_top)), url(images/earth1.jpg);
    width: 100%;
    background-size: 100%;
    background-position: center;
    text-align: center;
    color: white;
}
.footer nav a:hover {
    background-color: transparent;
}
.footer h2 {
    padding: 2%;
}
.footer a {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--gold);
    transition: 0.2s;
}
.footer a:hover {
    background-color: var(--blue);
    color: var(--white);
}
.social h3{
    display: inline-block;
    padding: 20px 50px;
}
.projects {
    text-align: center;
    margin: auto;
    display: flex;
    width: 80%;
    padding: 20px;
    align-items: center;
}
.projects-text {
    flex: 1;
    padding: 20px;
    display: inline;
}
.projects img {
    width: 30%;
    border-radius: 20px;
    transition: 0.2s;
}
.projects a {
    padding: 15px;
    text-decoration: none;
    color: white;
    line-height: 2;
    background-color: var(--light_blue);
    border-radius: 15px;
    animation: heading_anim 6s infinite;
    transition: 0.2s;
}
@keyframes heading_anim {
    0% {background-color: var(--blue);}
    50% {background-color: var(--yellow_dark);}
    100% {background-color: var(--blue);}
}
.projects a:hover {
    border-radius: 50px;
}


@media (max-width: 700px) {
    nav img {
        width: 200px;
    }
    .text-box h1{
        font-size: 36px;
    }
    .nav-links {
        display: none;
        position:absolute;
        background: var(--yellow);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.2s;
    }
    nav .fa {
        display: block;
        width: 20px;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 20px;
    }
    .row {
        flex-direction: column;
    } 
    button img {
        width: 80%;
    }
    button {
        padding: 10px;
        box-shadow: 0 0 20px 0px black;
    }
    .layer p {
        top: 50%;
        opacity: 1;
    }
    .layer {
        background-color: rgba(0,0,0, 0.5);
    }
    .testimonial-col img {
        width: 250px;  
    }
    .projects {
        flex-direction: column;
    }
    .projects img {
        width: 80%;
    }
    .education-col1 img {
        width: 100%;
    }
}


