@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
    --bg: #1a1a1a;
    --bg-lighter: #232323;
    --bg-light: #373737;
    --blue: #59d3e0;
    --green: #69c982;
    --blue-darker: #275d63;
    --yellow: #f9cb40;
    --yellow-darker: #816824;
    --red: #cd533b;
    --pink: #cc978e;
}


body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--bg);
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}
header > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
header a{
    color: white;
    background-color: var(--bg-light);
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.5rem 1rem;
    font-weight: 700;
    border: var(--bg-light) 0.2rem solid;
}
header a:hover{
    border: var(--blue) 0.2rem solid;
    color: var(--blue);
    box-shadow: 0 0 1rem var(--blue);
}
h1{
    font-family: 'Fira Code', monospace;
    color: var(--blue);
}
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
#hero p{
    font-size: 2rem;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    color: white;
    backdrop-filter: blur(1em);
    padding: 1rem;
    border-radius: 0.5rem 2rem;
    text-align: center;
    width: 30%;
}
#art {
    text-decoration: underline dotted var(--yellow);
    text-decoration-thickness: 0.3rem;
    color: var(--yellow);
}
#code {
    text-decoration: underline dotted var(--blue);
    text-decoration-thickness: 0.3rem;
    color: var(--blue);
}
#future {
    text-decoration: underline dotted var(--green);
    text-decoration-thickness: 0.3rem;
    color: var(--green);
}
.highlight-word {
    text-decoration: underline solid var(--blue);
    font-style: italic;
}
a {
    color: var(--blue);
    font-weight: 700;
}
.section {
    background-color: var(--bg-lighter);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}
.card {
    display: flex;
    background-color: var(--bg);
    width: 25%;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
}
.card img {
    width: 100%;
}
.card-skill {
    width: 10%;
    align-items: center;
}
footer {
    color: white;
    text-align: center;
}
.cards > a {
    width: 3.5rem;
}
.spread {
    gap: 2rem;
}
.cards > a > img {
    width: 100%;
    border-radius: 0.3rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card a {
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem 1rem;
    border: 0.1rem solid var(--blue);
    width: 50%;
    align-self: center;
    color: white;
}
.card a:hover {
    background-color: var(--blue);
    color: var(--bg);
}
a{
    font-style: italic;
}
footer a {
    border-bottom: 0.2rem solid var(--bg);
}
footer a:hover {
    border-bottom: 0.2rem solid var(--blue);
}



/* Mobile Screens */
@media (max-width: 650px) {
    #hero{
        background-position: left center;
        background-position-x: 3%;
    }
    #hero p{
        width: 60%;
    }
    .card {
        width: 80%;
    }
    .card-skill {
        width: 30%;
        align-items: center;
    }
}

/* Laptop Screens */
@media (min-width: 1280px) {
    header a {
        font-size: 1.1rem;
    }
    #hero {
        height: 90vh;
    }
    #hero p {
        width: 25%;
        font-size: 3rem;
    }
    .section {
        padding: 1rem 2rem;
    }
    .card {
        width: 20%;
    }
    .card-skill {
        width: 10%;
    }
    .card a{
        padding: 1rem 0.5rem;
        font-size: 1.1rem;
    }
}