@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body {
    background-color: #313131;
    /* font-family: 'Space Mono', monospace; */
    font-family: 'Ubuntu Mono', monospace;
    color: white;
}
strong {
    color: #70e9c7;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 1rem;
}

.header a{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: #70e9c781 0 0 1rem;
    border: 0.2rem solid #70e9c7;
    color: white;
    text-decoration: none;
}
.header a:hover {
    color: #313131;
    background-color: #70e9c7;
    transition: 0.15s ease-in-out;
    box-shadow: #70e9c7 0 0 1.5rem;
}
.hero {
    position: relative;
}
.hero img {
    max-width: 70%;
    height: auto;
    justify-content: center;
    margin: 0 5rem;
}
.hero p {
    position: absolute;
    font-size: 2.25rem;
    top: 0%;
    right: 10%;
    width: 35rem;
    text-align: center;
}
a {
    color: #70e9c7;
}

/* Highlights */
.highlights {
    background-color: #202020;
    padding: 1rem;
    border-radius: 1rem;
}
.highlights-projects {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.highlights-project {
    padding: 1rem;
    text-align: center;
}
.highlights-project:hover img {
    border: 0.3rem solid #70e9c7;
    transition: 0.15s ease-in-out;
}
.highlights-project:hover h2 {
    background-color: #70e9c7;
    color: #202020;
    transition: 0.15s ease-in-out;
}
.highlights-project > h2 {
    border-radius: 1rem;
    padding: 0.3rem 0;
}
.highlights-project img {
    width: 20vw;
    border-radius:  1rem;
    border: 0.3rem solid #313131;
}

/* Skills */
.skills-section {
    text-align: right;
    margin: 0 2rem 0 0;
}
.skills {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    padding: 1rem;
    text-align: center;
}
.skill h2 {
    /* background-color: #202020; */
    border-radius: 1rem;
    padding: 0.3rem 0;
}
.skill img {
    width: 10vw;
    border-radius:  1rem;
    border: 0.3rem solid #202020;
    padding: 0.1rem;
}

/* Miscellaneous */
.misc {
    padding: 1rem;
    text-align: center;
}
.misc h2 {
    /* background-color: #313131; */
    border-radius: 1rem;
    padding: 0.3rem 0;
}
.misc img {
    width: 20vw;
    border-radius:  1rem;
    border: 0.3rem solid #313131;
}
.misc p{
    width: 20vw;
}

/* About */
.about {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    margin: 1rem;
    border-radius: 2rem;
    width: 25vw;
}
.about h2 {
    border-radius: 1rem;
    padding: 0.3rem 0;
    width: 20vw;
}
.about img {
    width: 100%;
    height: auto;
    border-radius:  1rem;
    border: 0.3rem solid #313131;
}
.about p{
    width: 20vw;
}

/* Projects */
.projects {
    display: flex;
    flex-direction: column;
}
.project {
    border: 0.3rem solid #202020;
    display: flex;
    margin: 1rem;
    background-color: #313131;
    border-radius: 1rem;
}
.project:hover {
    border: 0.3rem solid #70e9c7;
    transition: 0.15s ease-in-out;
    background-color: #18352d;
}
.project img {
    height: 15rem;
    margin: 1rem;
    border-radius: 1rem;
}
.project-text {
    margin: 0.5rem 2rem;
}
.project{
    color: white;
    text-decoration: none;
    padding: 1rem 1rem 1rem 0.5rem;
    border-radius: 1rem;

}
.project:hover a {
    background-color: #70e9c7;
    color: #202020;
    transition: 0.15s ease-in-out;
}

/* Footer */
footer {
    text-align: center;
}
footer p {
    font-size: 0.7rem;
}
.social {
    display: flex;
    justify-content: center;
    margin: 0 20rem;
}
.social a{
    margin: 0 1rem;
}
.social img {
    width: 5rem;
    border-radius: 1rem;
    border: 0.3rem solid #202020;
    padding: 0.2rem;
}
.social img:hover {
    border: 0.3rem solid #70e9c7;
}