@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background-color: #313131;
    font-family: 'Space Mono', monospace;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 1rem;
}

.header a{
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: #41b392 0 0 1rem;
    border-color: #41b392;
    border: 0.2rem solid #70e9c7;
    color: white;
    text-decoration: none;
}
.header a:hover {
    color: #313131;
    background-color: #70e9c7;
    transition: 0.15s ease-in-out;
}
