@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.image-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.image-group img {
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;
}


#blur h1{
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    font-weight: 200;
}




#code {
    background: linear-gradient(to bottom, rgb(var(--accent-rgb)) 0% , transparent 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 3rem;
    font-weight: 900;
    /* font-family: 'jetbrains mono', monospace; */
}

#art {
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--accent-rgb)) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 3rem;
    font-weight: 900;
    /* font-family: 'jetbrains mono', monospace; */
}

@media (max-width: 400px) {
    .image-group {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
    }
    .image-group img{
        width: 100%;
    }
    #blur h1 {
        transform: translate(-50%, -60%);
    }
}

@media (min-width: 401px) and (max-width: 1024px) {
    #blur h1{
        font-size: 1rem;
    }
    #code, #art {
        font-size: 2rem;
    }
}