@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

#hero {
    background-image: url(../images/hero.svg);
    background-position: center center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
    /* height: 70vh; */
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1920 / 650;
}

#blur h1 {
    line-height: 0.9;
    font-weight: 300;
}

#blur button {
    width: fit-content;
}

#blur {
    padding: 1rem;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
}

#code {
    background: linear-gradient(to bottom, rgb(var(--accent-rgb)) 0% , transparent 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'jetbrains mono', monospace;
}

#art {
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--accent-rgb)) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'jetbrains mono', monospace;
}