nav ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

nav li {
    height: 2rem;
    cursor: pointer;
}

li.btn {
    display: flex;
    align-items: center;
}

nav img {
    height: 100%;
    width: auto;
}

nav a {
    height: 100%;
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
}

nav li:first-child {
    margin-right: auto;
}

.side-bar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(1rem);
    display: none;
}

.side-bar li {
    width: 100%;
}

.btn.menu-button {
    display: none;
}

@media(max-width: 1024px) {
    .btn.hide-on-mobile {
        display: none;
    }
    .btn.menu-button {
        display: block;
    }
}
